.App {
  text-align: center;
}


.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.album img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.album h2 {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}